.about_container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  place-items: center;
  position: relative;

  @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
  }

  .about_left {
      
      max-width: 450px;
      height: 450px;
      justify-self: center;
      border-radius: 50%;

      img {
          object-fit: cover;
          width: 100%;
          height: 100%;
      }
      
  }
  .about_right {
      color: #fff;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      background: rgba(255,255,255,0.15);

      @media screen and (max-width: 700px) {
          padding: 0;
          margin-top: 2rem;
      }
      
      p {
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 1rem;
          max-width: 450px;
      }
      .bio {
          display: flex;
          font-size: 0.85rem;
          max-width: 200px;
          margin-bottom: 1rem;

          .bioKey {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              margin-right: 3rem;
          }
      }
      a {
              display:flex;
              align-items: center;
              justify-content: center;
              margin-top: 1.5rem;
              text-decoration: none;
              color: #000;
              background: #fff;
              padding: 0.65rem 1rem;
              border-radius: 10px;
              font-size: 1rem;
              text-transform: capitalize;
              width: 165px;
              
      }

  }
  
}