.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  column-gap: 2rem;

  
  .followMe {
      display: flex;
      align-items: center;
      gap: 1rem;

      h4 {
          font-size: 0.85rem;
      }
      .stick {
          height: 0.15rem;
          width: 3rem;
          background: #fff;
          border-radius: 5rem;
      }

      .social_icons {
          display: flex;
          gap: 0.5rem;

          svg {
              color: #fff;
              opacity: 0.7;
              cursor: pointer;
              &:hover {
                  opacity: 1;      
              }
          }
      }
  }
}